.mr-3 {
    margin-right: 5px;
    color: #fff;
}

.ml-3 {
    margin-left: 5px;
}

.mt-15 {
    margin-top: 15px;
}

.mx-15 {
    margin: 40px 0;
}

.panel-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel-title span {
    font-size: 1rem;
    color: rgb(177, 177, 177);
    cursor: pointer;
}

.status-item {
    cursor: pointer;
    user-select: none;
}